


{% extends 'base.html' %}

{% block content %}

<br>
<br>
<hr>

 <form action="thesis" method="post">
        {% csrf_token %}

        <input type="text" name="student_name" placeholder=" StudentName"><br>
        <input type="text" name="supervisor_name"  placeholder="SupervisorName"><br>
        <input type="text" name="thesis_title" placeholder="ThesisTitle"><br>
        <input type="number" name="submission_year" placeholder="SubmissionYear"><br>
        
        <input type="Submit">
    </form>
<hr>



{% endblock %}
